{% extends 'Base.html' %}

{% block title %}Retro Books - Home Page{% endblock %}

{% block home_active %}active{% endblock %}

{% block header_ext %}
<div class="intro">
  <h1>NO. 1 BOOKSTORE IN THE WORLD</h1>
  <p>
    We sell the books that help improve one’s imagination and perspective
    of life
  </p>
  <button>Explore</button>
</div>
{% endblock %}

{% block content %}
<main>
  <div class="key-values">
    <h2>Key Values Of Retro Books</h2>
    <div class="values">
      <div>
        <div class="svg-wrapper">
          <img src="{{ url_for('static', filename='/Images/book.png') }}" alt="book icon" />
        </div>
        <h3>Largest collection of books in Nigeria</h3>
        <p>
          We have a huge collection local and international books for sale
        </p>
      </div>
      <div>
        <div class="svg-wrapper">
          <img src="{{ url_for('static', filename='/Images/coin-stack.png') }}" alt="coin stack icon" />
        </div>
        <h3>Competitive pricing</h3>
        <p>
          Our books are competitively priced and offer exceptional value for
          money
        </p>
      </div>
      <div>
        <div class="svg-wrapper">
          <img src="{{ url_for('static', filename='/Images/tag.png') }}" alt="tag icon" />
        </div>
        <h3>Wholesale and retail operations</h3>
        <p>
          In addition to our retail and online outlets we have the capacity
          to service large wholesale orders from institutional customers
        </p>
      </div>
    </div>
  </div>
  <div class="best-sellers">
    <h2>Best Sellers</h2>
    <div class="gallery">
      <div class="book-small">
        <div>
          <img src="{{ url_for('static', filename='/Images/milk_and_honey.png') }}" alt="milk and honey" />
          <p>Milk And Honey</p>
          <small>#10,000</small>
        </div>
      </div>
      <div class="book-small">
        <div>
          <img src="{{ url_for('static', filename='/Images/african_trilogy.png') }}" alt="african trilogy" />
        </div>
        <p>African Trilogy</p>
        <small>#15,000</small>
      </div>
      <div class="book-small">
        <div>
          <img src="{{ url_for('static', filename='/Images/a_promise_land.png') }}" alt="a promise land" />
        </div>
        <p>A Promise Land</p>
        <small>#12,500</small>
      </div>
      <div class="book-small">
        <div>
          <img src="{{ url_for('static', filename='/Images/spare.png') }}" alt="spare" />
        </div>
        <p>Spare</p>
        <small>#17,500</small>
      </div>
    </div>
    <div class="slider">
      <svg width="148" height="28" viewBox="0 0 148 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.5" cy="14" r="4" fill="black"/>
        <circle cx="31.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="48.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="65.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="82.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="99.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="116.5" cy="14" r="4" fill="#8D8D8D"/>
        <circle cx="133.5" cy="14" r="4" fill="#8D8D8D"/>
      </svg>  
    </div>
  </div>
</main>
{% endblock %}
